{% extends 'boards/base.html' %}
{% block body %}
    <h1>Detail</h1>
    <h4>{{ board.id }}번째 글</h4>
    <hr>
    <h2>{{ board.title }}</h2>
    <p>{{ board.content }}</p>
    <br>
    <p>작성시간: {{ board.created_at }}</p>
    <p>수정시간: {{ board.updated_at }}</p>
    
    <a href="{% url 'boards:edit' board.pk %}">[수정]</a>
    <!--<a href="{# url 'boards:delete' board.pk #}" onclick='return confirm("R U SURE?")'>[삭제]</a>-->
    <form action="{% url 'boards:delete' board.pk %}" method='POST' style="display:inline" onsubmit="return confirm('R U SURE?');">
        {% csrf_token %}
        <input type="submit" value="삭제"/>
    </form>
    <a href="{% url 'boards:index' %}">[뒤로가기]</a>
    
    <hr>
    
    {% for comment in comments %}
        <li>
            {{ comment.content }}
            <form action="{% url 'boards:comments_delete' board.pk comment.pk %}" method="post" style='display:inline' onsubmit="return confirm('R U SURE?');">
                {% csrf_token %}
                <input type='submit' value='삭제'/>
            </form>
        </li>
    {% empty %}
        <p><b>댓글이 없어요...</b></p>
    {% endfor %}
    
    <hr>
    <p>댓글 작성 / {{ comments | length }}</p>
    <form action="{% url 'boards:comments_create' board.pk %}" method='POST'>
        {% csrf_token %}
        comment : <input type="text" name="content"/>
        <input type="submit" name="submit"/>
    </form>
{% endblock %}