<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
    <style>
        body {
            background-color: black;
        }
        red {
            color: red;
        }
    </style>
</head>
<body>
    <div class="row">
        <img class='mx-auto mt-3' src="http://thumbnail.egloos.net/600x0/http://pds27.egloos.com/pds/201506/06/19/b0098919_5572f55f7de64.jpg" alt="Vfor">
    </div>
    <pre class='h1 text-light text-center'>
            수업 시간에는 <red>수업에만 집중</red> 하십시오.
        <red>해킹</red>할 생각만 가득한 당신들에게 하는 <red>마지막 경고</red>입니다.
        아시겠어요?
        제발 제 수업에 집중하고 이야기를 들어 주시기 바랍니다.
        또 해킹하다 적발되면 점심시간 30분에 출발할겁니다.
        <red>경고했어요.</red>
    </pre>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
